:root {
	--input-padding: 0.3rem;
	--heading-margin-bottom: 1rem;
	--color-dark: #414a63;
	--color-light: #e3e4e8;
}

body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0 1em;
	min-height: 100vh;
}
main {
	/* push everything after the main content (i.e. the footer) to the bottom of the viewport */
	flex-grow: 1;
}

h1 {
	margin-bottom: var(--heading-margin-bottom);
}

h1 + p.subtitle {
	margin-top: calc(-1 * var(--heading-margin-bottom));
}

.center {
	text-align: center;
}

.ml-1 {
	margin-left: 0.25em;
}

.ml-2 {
	margin-left: 0.5em;
}

a.label, span.label {
	display: inline-flex;
	align-items: center;
	padding: 0.4em;
	border-radius: 0.2em;
	font-size: 0.8em;
	line-height: 0.8em;
	white-space: nowrap;
	background-color: var(--color-dark);
	color: #ffffff;
}
a.label {
	text-decoration: none;
	background-color: #209cee;
}

/* forms */

input {
	padding: var(--input-padding);
	box-sizing: border-box;
}

input[type=text] {
	width: 25em;
}

/* tables */

table {
	margin: 1em 0;
}

tbody > tr:nth-child(odd) {
	background-color: #efefef;
}
tbody > tr:nth-child(even) {
	background-color: #f8f8f8;
}

td, th {
	padding: 0.1em 0.2em;
}

td.numeric {
	text-align: right;
	font-variant: tabular-nums;
}

td ul {
	margin: 0;
	padding-left: 1em;
	list-style: square;
}

/* CoverImage.tsx */

figure.cover-image {
	width: min-content;
}

figure.cover-image > figcaption {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	justify-content: center;
}

/* InputWithOverlay.tsx */

div.input-with-overlay {
	position: relative;
	display: inline-block;
	margin: 0.2em 0.4em;
}

div.input-with-overlay > div.overlay {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: var(--input-padding);
	pointer-events: none;
}

div.input-with-overlay > input {
	padding-left: 2rem;
}

/* ISRC.tsx */

code.isrc > span:not(:last-child)::after {
	content: '-';
}

/* MessageBox.tsx */

div.message {
	display: flex;
	align-items: center;
	background-color: var(--color-light);
	color: var(--color-dark);
	margin: 0.5em;
	padding: 0.3em 0.5em;
	border-radius: 5px;
}

div.message svg.icon {
	min-width: fit-content;
	margin-right: 0.3em;
}

div.message span.provider {
	font-weight: bold;
	margin-right: 0.5em;
}

div.message.debug {
	background-color: #eaf8ec;
	color: #329c3b;
}
div.message.info {
	background-color: #e7effd;
	color: #0e4ecc;
}
div.message.warning {
	background-color: #fff2e8;
	color: #ea6100;
}
div.message.error {
	background-color: #ffe7e7;
	color: #de0604;
}

/* RegionList.tsx */

div.region-list > button {
	margin: 0 0.3em;
}

/* Release.tsx */

h2.release-title {
	margin-bottom: 0;
}
p.release-artist {
	margin-top: 0;
}

@media screen and (min-width: 46rem) {
	table.release-info {
		max-width: 45rem;
	}
}
