:root {
	--input-padding: 0.3rem;
	--page-fill: #ffffff;
	--text: #000000;
	--brand-orange: #ffb92c;
	--brand-red: #c45555;
	--brand-dark: #323541;
	--brand-light: #e3e4e8;
	--theme-fill: var(--brand-light);
	--theme-text: var(--brand-dark);
	--nav-accent: var(--brand-red);
	--badge-fill: #414a63;
	--badge-text: #ffffff;
	--odd-fill: #efefef;
	--even-fill: #f8f8f8;
	--link: #0066cc;
	--link-accent: var(--brand-red);
	/* Provider brand colors */
	--apple: #fc3c44;
	--bandcamp: #1da0c3;
	--beatport: #00e586;
	--deezer: #a238ff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-fill: #222222;
		--text: #ffffff;
		--theme-fill: var(--brand-dark);
		--theme-text: var(--brand-light);
		--nav-accent: var(--brand-orange);
		--odd-fill: #333333;
		--even-fill: #2a2a2a;
		--link: #3399ff;
		--link-accent: var(--brand-orange);
	}
}

body {
	background-color: var(--page-fill);
	color: var(--text);
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}
main {
	/* push everything after the main content (i.e. the footer) to the bottom of the viewport */
	flex-grow: 1;
	margin: 1em;
}

header {
	background-color: var(--theme-fill);
	color: var(--theme-text);
	font-family: "Roboto", sans-serif;
	padding: 1.5rem;
}
header > h1 {
	font-size: 3rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

img.banner-logo {
	height: 3rem;
	margin: 0.5rem;
}

h1 + p.subtitle {
	font-size: 1.2em;
}

.center {
	text-align: center;
}

ul.inline > li {
	display: inline;
}
ul.inline > li:not(:last-child)::after {
	content: " · ";
}

.ml-1 {
	margin-left: 0.25em;
}

.ml-2 {
	margin-left: 0.5em;
}

a:link, a:visited {
	color: var(--link);
}
a:hover {
	color: var(--link-accent);
}

a.label, span.label {
	display: inline-flex;
	align-items: center;
	padding: 0.4em;
	border-radius: 0.2em;
	font-size: 0.8em;
	line-height: 0.8em;
	white-space: nowrap;
	background-color: var(--badge-fill);
	color: var(--badge-text);
}
a.label {
	text-decoration: none;
	background-color: #209cee;
}

/* forms */

input {
	padding: var(--input-padding);
	box-sizing: border-box;
}

input[type=text] {
	width: 25em;
}
input#region-input {
	width: 14em;
}

/* tables */

table {
	margin: 1em 0;
}

tbody > tr:nth-child(odd) {
	background-color: var(--odd-fill);
}
tbody > tr:nth-child(even) {
	background-color: var(--even-fill);
}

td, th {
	padding: 0.1em 0.2em;
}

td.numeric {
	text-align: right;
	font-variant: tabular-nums;
}

td ul {
	margin: 0;
	padding-left: 1em;
	list-style: square;
}

/* CoverImage.tsx */

figure.cover-image {
	width: min-content;
}

figure.cover-image > figcaption {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	justify-content: center;
}

/* InputWithOverlay.tsx */

div.input-with-overlay {
	color: initial;
	position: relative;
	display: inline-block;
	margin: 0.2em 0.4em;
}

div.input-with-overlay > div.overlay {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: var(--input-padding);
	pointer-events: none;
}

div.input-with-overlay > input {
	padding-left: 2rem;
}

/* ISRC.tsx */

code.isrc > span:not(:last-child)::after {
	content: '-';
}

/* LinkedEntity.tsx */

span.entity-links > a {
	text-decoration-style: dotted;
	color: inherit;
}
span.entity-links > a:hover {
	color: var(--link-accent);
}

/* MessageBox.tsx */

div.message {
	display: flex;
	align-items: center;
	background-color: var(--theme-fill);
	color: var(--theme-text);
	margin: 0.5em;
	padding: 0.3em 0.5em;
	border-radius: 5px;
}

div.message svg.icon {
	min-width: fit-content;
	margin-right: 0.3em;
}

div.message span.provider {
	font-weight: bold;
	margin-right: 0.5em;
}

div.message p, div.message ul {
	margin: 0;
}

div.message.debug {
	background-color: #eaf8ec;
	color: #329c3b;
}
div.message.info {
	background-color: #e7effd;
	color: #0e4ecc;
}
div.message.warning {
	background-color: #fff2e8;
	color: #ea6100;
}
div.message.error {
	background-color: #ffe7e7;
	color: #de0604;
}

/** NavigationBar.tsx */

nav {
	background-color: var(--theme-fill);
	color: var(--theme-text);
	border-bottom: 1px solid var(--nav-accent);
}

nav.sticky {
	position: sticky;
	top: 0;
	z-index: 1;
}

nav > ul {
	list-style: none;
	font-weight: bold;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

nav > ul > li {
	border-bottom: 3px solid transparent;
}
nav > ul > li:hover {
	color: var(--nav-accent);
	border-color: var(--nav-accent);
}

nav > ul > li > a {
	height: 1.8rem;
	padding: 0.5rem;
	display: inline-flex;
	align-items: center;
}

nav a:link, nav a:visited {
	color: inherit;
	text-decoration: none;
}

nav img.icon-logo {
	height: 2rem;
	margin-right: 0.3rem;
}

/* ProviderInput.tsx */

div.provider-inputs {
	display: flex;
	justify-content: center;
	margin: 1em;
}

label.provider-input {
	background-color: var(--badge-fill);
	color: var(--badge-text);
	margin: 0.5em;
	padding: 0.2em 0.4em;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 0.5em;
}

label.bandcamp {
	background-color: var(--bandcamp);
}
label.beatport {
	background-color: var(--beatport);
}
label.deezer {
	background-color: var(--deezer);
}
label.itunes {
	background-color: var(--apple);
}

/* ProviderIcon.tsx */

span > svg.icon {
	vertical-align: top;
}

/* RegionList.tsx */

div.region-list > button {
	margin: 0 0.3em;
}

/* Release.tsx */

h2.release-title {
	margin-bottom: 0;
}
p.release-artist {
	margin-top: 0;
}

@media screen and (min-width: 46rem) {
	table.release-info {
		max-width: 45rem;
	}
}
