body {
	font-family: sans-serif;
}

/* tables */

table {
	margin: 1em 0;
}

tbody > tr:nth-child(odd) {
	background-color: #efefef;
}
tbody > tr:nth-child(even) {
	background-color: #f8f8f8;
}

td, th {
	padding: 0.1em 0.2em;
}

td ul {
	margin: 0;
	padding-left: 1em;
	list-style: square;
}

/* InputWithOverlay.tsx */

div.input-with-overlay {
	position: relative;
	display: inline-block;
	margin: 0.2em 0.4em;
}

div.input-with-overlay > div.overlay {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 0.3rem;
	pointer-events: none;
}

div.input-with-overlay > input {
	padding: 0.3rem;
	padding-left: 2rem;
	box-sizing: border-box;
	width: 25em;
}

/* ISRC.tsx */

code.isrc > span:not(:last-child)::after {
	content: '-';
}

/* MessageBox.tsx */

div.message {
	display: flex;
	align-items: center;
	background-color: #e3e4e8;
	color: #414a63;
	margin: 0.5em;
	padding: 0.3em 0.5em;
	border-radius: 5px;
	width: fit-content;
}

div.message svg.icon {
	min-width: fit-content;
	margin-right: 0.3em;
}

div.message span.provider {
	font-weight: bold;
	margin-right: 0.5em;
}

div.message.debug {
	background-color: #eaf8ec;
	color: #329c3b;
}
div.message.info {
	background-color: #e7effd;
	color: #0e4ecc;
}
div.message.warning {
	background-color: #fff2e8;
	color: #ea6100;
}
div.message.error {
	background-color: #ffe7e7;
	color: #de0604;
}

/* RegionList.tsx */

div.region-list > button {
	margin: 0 0.3em;
}
span.region-count {
	margin-left: 1em;
}

/* Release.tsx */

h2.release-title {
	margin-bottom: 0;
}
p.release-artist {
	margin-top: 0;
}

@media screen and (min-width: 46rem) {
	table.release-info {
		max-width: 45rem;
	}
}
